<nav class="nav">
  <span class="logo">Silver</span>
  <ul>
    <li><%= link_to('Dashboard', dashboard_path) %></li>
  </ul>
  <ul>
    <li>Blogs</li>
    <ul>
      <li><%= link_to('Commentary', dashboard_commentary_path) %></li>
      <li>News</li>
    </ul>
  </ul>
  <li><%= link_to('Symbols', dashboard_symbols_path) %></li>
</nav>
