<div class="header">
  <ul class="no-list-style inline-list">
    <li><%= current_user.email %></li>
    <a data-confirm="Are you sure?" data-method="delete" href="<%= destroy_user_session_path %>" rel="nofollow">&vellip;</a>
  </ul>
</div>
