<% if user_signed_in? %>
  <section id="dashboard-container">
    <%= render 'dash_nav' %>

    <section class="dash-content">
      <%= render 'header' %>

      <section class="dash-section">
        <%= render "commentaries/form" %>
        <%= render "commentaries/recent" %>
      </section>

    </section>
  </section>
<% else %>
  <script> window.location = '/' </script>
<% end %>
