<section id="dashboard-container">
  <%= render 'dash_nav' %>

  <section class="dash-content">
    <%= render 'header' %>

    <section class="dash-section">
      <h2>Backtest Posts</h2>
      <%= render 'components/post_list' %>
    </section>
  </section>
</section>
