<section id="dashboard-container">
  <%= render 'dash_nav' %>

  <section class="dash-content">
    <%= render 'header' %>

    <section class="dash-section">
      Analytics here
      <br>
      <br>
      <br>
      <a href="https://docs.google.com/document/d/1k3b3ifze7-Zjuv3ciMg75asyGgSCUEmfomeWvtpKLG4/edit">-> TODO List</a>
    </section>
  </section>
</section>
