
<section id="dashboard-container">
  <%= render 'dash_nav' %>

  <section class="dash-content">
    <%= render 'header' %>

    <section class="dash-section">
      <%= render "components/post_form" %>
    </section>

  </section>
</section>
