<div class="stock-graph table">
  <div class="tr th">
    <span class="td">Stock</span>
    <span class="td">Last</span>
    <span class="td">Chg</span>
    <span class="td">%</span>
    <span class="td">Vol</span>
  </div>
</div>
