<% if user_signed_in? %>
  <section id="dashboard-container">
    <nav class="nav">
      <span class="logo">Silver</span>
      <ul>
        <li class="show item" data-list="dashboard">Dashbaord</li>
      </ul>
      <ul>
        <li>Pages</li>
        <ul>
          <li class="item home" data-list="home">Home</li>
        </ul>
      </ul>
    </nav>

    <section class="dash-content">
      <div class="header">
        header
      </div>

      <section class="dash-section" data-section="dashboard">
        dashboard
      </section>

      <section class="dash-section" data-section="home">
        home page
      </section>
    </section>
  </section>
<% else %>
  <script> window.location = '/' </script>
<% end %>
