<main class="flex">
  <aside class="left-aside aside-flex padding-sm">
    <h3 class="title gn">Stock Prices</h3>
    <%= render 'components/stock-graph' %>
  </aside>
  <section class="center-flex padding-sm">
    <div class="comments-section m-b-md">
      <h3 class="title bl">Commentary</h3>
      <%= render 'components/commentary_list' %>
      <button type="button" name="button" class="btn btn-bl">+ More Commentaries</button>
    </div>
    <div class="news-section">
      <h3 class="title bl">News</h3>
      <%= render 'components/commentary_list' %>
      <button type="button" name="button" class="btn btn-bl">+ More News</button>
    </div>
  </section>
  <aside class="right-aside aside-flex padding-sm">
    <h3 class="title gn">Daily Chart</h3>
      <canvas id="daily-chart"></canvas>
    <h3 class="title gn">Weekly Chart</h3>
      <canvas id="weekly-chart"></canvas>
  </aside>
</main>
