<main class="flex">
  <aside class="left-aside flex-1 padding-sm">
    <%= render 'components/stock-graph' %>
  </aside>
  <section class="flex-2 padding-sm">
    <div class="comments-section">
      comments
    </div>
    <div class="news-section">
      news
    </div>
  </section>
  <aside class="right-aside flex-1 padding-sm">
    right
  </aside>
</main>