<script>
var ready = function() {
  var url = $(location).attr('href'),
      parts = url.split("/"),
      symbol = parts[parts.length-1];

  const stockStr = `https://api.iextrading.com/1.0/stock/market/batch?symbols=${symbol}&types=quote,news,chart&range=1m&last=5`

  function isEmptyObject(obj){
    return JSON.stringify(obj) === '{}';
  }

  $.get(stockStr, function(data){
    if (isEmptyObject(data)) {
      $('.symbol').text('no stock here')
    } else {
      $.each(data, function (k,v) {
        console.log(v.quote);
        $('.symbol').text(v.quote.symbol)
        $('.company-name').text(v.quote.companyName)
      })
    }
  })
};

$(document).on('turbolinks:load', ready);
</script>

<section>
  <h2 class="symbol"></h2>
  <h4 class="company-name"></h4>
</section>
