@import "bootstrap-sprockets";
@import "bootstrap";

$black: #363636;
$green: #d3e061;
$blue: #0d9ad6;
$navy: #0f6bad;
$light: #f3f3f4;
$grey: #d6d6d6;

$ease: .3s ease-in-out;

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, span, input, textarea {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 1.2vw;
}

h3 {
  font-size: 1.8rem;
}

p, li, a, input {
  font-size: 1rem;
}

a {
  text-decoration: none !important;

  &.btn {
    margin-top: 1rem;
    padding: .5rem 2rem;
    background: $blue;
    color: #fff;

    &:hover {
      background: $navy !important;
      color: #fff !important;
    }
  }

  &:hover {
    background: none !important;
    color: $navy !important;
  }
}

body {
  margin: 0 !important;
}

input {
  padding: .25rem;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background: #efefef;
}

.th > .td {
  white-space: normal;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
//
// .tr:nth-of-type(even) {
//   background-color: #f2f2f2;
// }
//
// .tr:nth-of-type(odd) {
//   background-color: #ffffff;
// }

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.stock-graph-list > .tr {
  transition: .1s ease-in-out;
  position: relative;

  .stock-link {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:hover {
    padding: 0 .25rem;
    background: rgba(220,220,220, .1);
  }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center
}

.notice,
.alert {
  display: none;
}

.padding-sm {
  padding: 1rem;
}

.dashboard-btn {
  float: left;
  background: $blue;
  padding: .5rem 1rem;
  border-radius: 5px;
  color: #fff;

  &:visited {
    color: #fff;
  }
}

.flex {
  display: flex
}

.flex-1 {
  flex: 1;
}

.aside-flex {
  flex: 3;
}

.center-flex{
  flex: 5;
}

.flex-inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.m-sm {
  margin-bottom: 1rem;
}

.m-b-md {
  margin-bottom: 3rem;
}

.title {
  text-transform: uppercase;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.gn {
  color: $green;
  border-bottom: .4rem solid $green;
}

.bl {
  color: $blue;
  border-bottom: .4rem solid $blue;
}

.table-row {
  display: block;

  li {
    padding: .75rem .25rem;
    margin-bottom: .75rem;
    background: $light;

    &:nth-of-type(odd) {
      background: $grey;
    }
  }

  a {
    color: $blue;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;

    &:visited {
      color: $blue;
    }
  }
}

.dropdown {
  .dropdown-content {
    background: $black;
    color: #fff;
    position: absolute;
    width: 12rem;
    display: none;
    left: -2rem;
    z-index: 1;
  }

  li {
    display: block;
    margin: .5rem 0;
    padding: .5rem;
  }

  &:hover .dropdown-content {
    display: block;
  }
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list {
  & > li {
    display: inline-block;
    margin: 0 .5rem;
  }
}

.btn {
  text-transform: uppercase;
  font-size: .8rem;
}

.btn-bl {
  background: $blue;
  color: #fff;
}


#header {
  .center {
    padding: 3rem 0;
    height: auto;
    width: 32rem;
  }

  .header-bar {
    background: $light;
    padding: 1rem;
    text-align: right;
  }
}

#footer {
  height: 4rem;
  background: $black;
  line-height: 4rem;
  padding: 0 4rem;

  .right {
    float: right;
  }
}

#nav {
  background: $black;
  text-transform: uppercase;
  padding: .5rem 0;
  margin-bottom: 1rem;

  ul {
    list-style: none;
    margin: 0;
  }

  a {
    display: inline-block;
    padding: 1rem 0;
    color: #fff;

    &:hover {
      color: rgba(255,255,255,.75) !important;
    }
  }
}

#dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: rgb(240, 243, 246);

  .nav {
    background: rgb(57,70,80);
    width: 16rem;
    left: 0;
    height: 100%;
    position: fixed;
    float: left;
    color: #ccc;

    .logo {
      height: 4rem;
      transition: .3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    .list {
      margin-top: 1rem;
    }

    a {
      color: #ccc;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: .5rem 1rem;

      & > a {
        padding: 0;
      }

      & > a:hover {
        color: #fff;
      }
    }

    .logo {
      text-align: center;
      padding: 0;
      height: 4rem;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .title {
      margin: .5rem 1rem;
      border-bottom: 1px solid #ccc;
      display: block;
    }

    .show {
      background: rgb(128, 205, 83);

      a {
        color: #fff;
      }
    }

    .item {
      cursor: pointer;

      &:hover {
        color: #fff;
        transition: .3s ease-in-out;
      }
    }
  }

  .dash-content {
    position: fixed;
    height: 100%;
    left: 16rem;
    min-height: 100vh;
    right: 0;
    top: 4rem;
    z-index: 1002;
    overflow-y: scroll;
    padding-bottom: 6rem;
  }

  .header {
    position: fixed;
    right: 0;
    left: 16rem;
    top: 0;
    height: 4rem;
    text-align: right;
    padding-right: 2rem;
    background: rgb(215,221,227);

    ul > li {
      line-height: 4rem;
    }
  }

  .dash-section {
    padding: 2rem;
  }
}

.post-item {
  background: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;

  .post-options {
    text-align: right;
    padding-right: 2rem;
  }

  h5 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

.content-container {
  width: 70%;
  padding: 1rem 2rem;

  .post-item {
    margin-bottom: .75rem;
    background: $light;
    border-radius: 5px;
    padding: 2rem;
  }
}

.signin {
  padding: 8rem 0;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }
}
