* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, span, input, textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.padding-sm {
  padding: 1rem;
}

.flex {
  display: flex
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



#header-lg {
  height: 20rem;
  background: #ccc;
}

#nav {
  padding: .5rem 0;
  
  ul {
    list-style: none;
  }
}